body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("../img/a27fe2fe7a7537392ae0d468a7a8ab5e.jpg");
    height: 100%;
    width: 100%; 
    position: fixed;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    background-color: black;
}

.logo {
    height: 8.5%;
    width: 8.5%;
    float: left;
}

.navbar-header a {
    color: white;
    padding-right: 5px;
}

.middle-text {
    position: relative;
    height: 25%;
    width: 25%;
    left: 10%;
    top: 18%;
}

.middle-text h1 {
    color: white;
    font-size: 50px;
    font-family: monospace;
}

.middle-text h2 {
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.LeftBox {
    position: relative;
    height: 68%;
    width: 15%;
    left: 10%;
    top: 11%;
}

.PC {
    border: solid 1px black;
    position: relative;
    height: 30%;
    width: 100%;
}

.PC img {
    height: 100%;
    width: 100%;
}

.Playstation {
    border: solid 1px black;
    position: relative;
    height: 30%;
    width: 100%;
    margin-top: 5%;
}

.Playstation img {
    height: 100%;
    width: 100%;
}

.Xbox {
    border: solid 1px black;
    position: relative;
    height: 30%;
    width: 100%;
    margin-top: 5%;
}

.Xbox img {
    height: 100%;
    width: 100%;
}

.BigBox {
    border: solid 2px black;
    position: relative;
    float: right;
    height: 64%;
    width: 65%;
    right: 4%;
    bottom: 57%;
}

.ProductOne {
    border: solid 2px black;
    position: relative;
    float: left;
    height: 100%;
    width: 23%;
    margin-left: 1%;
}

.product-item {
    border: solid 2px black;
    position: relative;
    height: 75%;
    width: 100%;
    overflow: visible;
}

.ItemPrice {
    border: solid 2px black;
    position: relative;
    float: right;
    height: 25%;
    width: 50%;
}

.Button:hover,
.Button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.Button {
    position: relative;
    left: 6.5%;
    top: 20px;
    color: white;
    background-color: green;
    text-align: center;
    font-family: monospace;
}

.ProductTwo {
    border: solid 2px black;
    position: relative;
    float: left;
    height: 100%;
    width: 23%;
    margin-left: 2%;
}

.ProductThree {
    border: solid 2px black;
    position: relative;
    float: left;
    height: 100%;
    width: 23%;
    margin-left: 2%;
}

.ProductFour {
    border: solid 2px black;
    position: relative;
    float: left;
    height: 100%;
    width: 23%;
    margin-left: 2%;
}

.TextBox {
    position: relative;
    height: 20%;
    width: 50%;
    left: 25%;
    top: 5%;
}

.TextBox p {
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: 80px;
}

.ShownItems {
    position: relative;
    height: 55%;
    width: 100%;
    top: 24%;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@media screen and (max-width:800px) {
    .middle-text h1, .middle-text h2{
        font-size: 20px;
    }}

@media screen and (max-width:800px) {
    .middle-text {
        left:5%;
    }}

#firstbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 160px;
    margin-top: 40px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #2ed62e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 242px;
    height: 70px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 220px;
    margin-left: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #text {
    width: 260px;
    height: 80px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: -2px;
    margin-top: 6px;
    text-align: center;
}

#secondbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 444px;
    margin-top: 40px;
}

#thirdbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 732px;
    margin-top: 40px;
}

#fourthbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 1016px;
    margin-top: 40px;
}

#fifthbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 1300px;
    margin-top: 40px;
}

#products {
    margin-left: 284px;
}

#sixthbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 160px;
    margin-top: 480px;
}


#seventhbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 444px;
    margin-top: 480px;
}

#eightbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 732px;
    margin-top: 480px;
}

#ninebox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 1016px;
    margin-top: 480px;
}

#tenthbox {
    width: 260px;
    height: 320px;
    border: 2px solid white;
    color: white;
    position: absolute;
    margin-left: 1300px;
    margin-top: 480px;
}


#frmContact {
    border: white 2px solid;
    background: transparent;
	padding: 10px;
}

#frmContact div {
	margin-bottom: 20px;
}

#frmContact div label {
	margin: 5px 0px 0px 5px;    
	color: white;
}

.demoInputBox {
	padding: 10px;
	border: #a5d2ca 1px solid;
	border-radius: 4px;
	background-color: #FFF;
	width: 100%;
    margin-top:5px;
}

.error {
	background-color: #FF6600;
    padding: 8px 10px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 0.9em;
}

.success {
	background-color: #c3c791;
	padding: 8px 10px;
	color: #FFFFFF;
	border-radius: 4px;
    font-size: 0.9em;
}

.info {
	font-size: .8em;
	color: #FF6600;
	letter-spacing: 2px;
	padding-left: 5px;
}

.btnAction {
	background-color: green;
    padding: 10px 40px;
    color: #FFF;
    border: #739690 1px solid;
    border-radius: 4px; 
}

.btnAction:focus {
	outline:none;
}
.column-right
{
    margin-right: 6px;
}
.contact-row
{
    display: inline-block;
    width: 32%;
}
@media all and (max-width: 550px) {
    .contact-row {
        display: block;
        width: 100%;
    }
}

#contactus-text {
    color: white;
    font-size: 80px;
    text-align: center;
    margin-top: 144px;
}

#aboutsection {
    color: white;
    margin-left: 50px;
    font-style: oblique;
    text-align: left;
    
    border: rgb(103, 235, 42) 2px solid;
    margin-right: 50px;
    height: 600px;
    background-color: black;
}

@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');



.neons {
   margin-top: 10rem;
   text-align: center;
}

.neons h1 {
  font-size: 9rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

#aboutsection-text {
    margin-left: 40px;
}


.neon {
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
}

.text {
    background-color: black;
    color: white;
    font-size: 180px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    user-select: none;
    margin-left: 520px;
}

.text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
}

.gradient {
    position: absolute;
    background: linear-gradient(45deg, rgb(77, 215, 233), rgb(77, 215, 233) rgb(77, 215, 233), rgb(77, 215, 233), white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    border: 2px solid rgb(103, 235, 42);
}

.spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: 
        radial-gradient(
            circle,
            rgb(103, 235, 42),
            transparent 25%
        ) center / 25% 25%,
        radial-gradient(
            circle,
            white,
            black 25%
        ) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
}

@keyframes light {
    to {
        transform: translate(50%, 50%);
    }
}

#checkfields {
    position: absolute;
    border: 2px solid white;
    width: 360px;
    height: 600px;
    margin-left: 40px;
    margin-top: 40px;
    color: white;
    
}

#checkfields h2{
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#playstation {
    margin-left: 20px;
}

#xbox {
    margin-left: 20px;
}

#pc {
    margin-left: 20px;
}

#checkbox {
    color: white;
    text-decoration: none;
    list-style: none; 
}

.formpje li{
    list-style-type: none;
}

.form {
    border: solid green 2px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 30px;
    margin:10px auto;
    height: 570px;
    width: 500px;
    background-color: none;
    color: black;
}

.form li {
    padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form p {
    font-weight: bold;
    padding-top: 2px;
}

.form label {
    margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.form input::placeholder {
    color: black;
}

.form .field-divide {
	width: 49%;
}

.form .field-long {
	width: 100%;
}
.form .field-select {
	width: 100%;
}
.form .field-textarea {
	height: 100px;
}
.form input [type=submit], .form-style-1 input[type=button] {
	background: purple;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form input [type=submit]:hover, .form-style-1 input[type=button]:hover {
	background: purple;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form .required {
	color: lightgreen;
}

.SubmitButton {
	background-color: green;
    padding: 10px 40px;
    color: #FFF;
    border: #739690 1px solid;
    border-radius: 4px; 
}

.SubmitButton:focus {
	outline:none;
}

#CheckOutTable thead {
    margin-top: 100px;
    background-color: green;
    color: white;
    font-family: monospace;
}

#CheckOutTable th { 
    padding: 10px;
    color: white;
    font-family: monospace;
}

#CheckOutTable tbody img {
    width: 150px;
    height: 150px;
}

#CheckOutTable tbody td {
    padding: 15px;
    color: white;
    text-align: center;
    font-family: monospace;
}

#CheckOutTable tfoot {
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    font-family: monospace;
}

#CheckOutTable {
    width: 930px;
    float: left;
    position: relative;
    left: 25%;
    top: 120px;
}

#login-container
{

}

.information
{

}