body {
    background-image: url("../img/a27fe2fe7a7537392ae0d468a7a8ab5e.jpg");
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 722px;
}

.container-fluid {
    background-color: black;
}

.logo {
    height: 8.5%;
    width: 8.5%;
    float: left;
}

.navbar-header a {
    color: white;
    padding-right: 5px;
}

.middle-text {
    position: relative;
    height: 25%;
    width: 25%;
    left: 10%;
    top: 18%;
}

.middle-text h1 {
    color: white;
    font-size: 50px;
    font-family: monospace;
}

.middle-text h2 {
    color: white;
    font-size: 30px;
    font-family: monospace;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@media screen and (max-width:800px) {
    .middle-text h1, .middle-text h2{
        font-size: 20px;
    }}

@media screen and (max-width:800px) {
    .middle-text {
        left:5%;
    }}